pythonProject23/.idea/misc.xml
pythonProject23/.idea/pythonProject2.iml
pythonProject23/.idea/vcs.xml
pythonProject23/.idea/misc.xml
pythonProject23/.idea/misc.xml
pythonProject23/.idea/misc.xml
.idea/BlisGO.iml
.idea/misc.xml
